html, body {
  height: 100%; }

.gambar {
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: repeat;
  background-image: url("../img/background.jpg"); }

.whitecolor {
  color: white; }

.img-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #FFF;
  border-radius: 30%; }
