body{
  width: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/background.jpg");
}
.whitecolor{
  color: rgb(255, 255, 255);
}
.img-circle {
  width: 150px;
  height: 150px;
  border: 4px solid #FFF;
  border-radius: 30%;
}
